.home_list_image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home_img_mb {
  display: none;
}

.home_list_image img {
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
}

.container_img {
  position: relative;
}
.home_list_item .text_in_img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.home_list_text {
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  font-weight: bolder;
  z-index: 3;
  font-size: 20px;
}

.home_list_redirect {
  width: 100%;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.home_list_item:has(.container_img:hover) .home_list_text {
  opacity: 1;
}
.home_list_item:has(.container_img:hover) .edge-text {
  opacity: 1;
}
.home_list_item:has(.container_img:hover) .container_img img {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* hover cả hai */

.home_list_image:has(.both_hover:hover) .home_list_text {
  opacity: 1;
}
.home_list_image:has(.both_hover:hover) .edge-text {
  opacity: 1;
}
.home_list_image:has(.both_hover:hover) .container_img img {
  filter: grayscale(0%);
  transform: scale(1.05);
}

@media (max-width: 1260px) {
  .home_list_image img {
    height: 350px;
  }
}

@media (max-width: 1060px) {
  .home_list_image img {
    height: 350px;
  }
}

@media (max-width: 1050px) {
  .sidebar-layout {
    width: 0px;
    height: 0px;
  }
  .home_img_mb {
    display: block;
  }
  .home_img_pc {
    display: none;
  }
  .home_list_image {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .home_list_image img {
    height: 150px;
    filter: grayscale(0%);
  }
  .edge-text {
    font-size: 14px;
    opacity: 1;
  }

  .text-side {
    font-size: 10px;
    display: none;
  }
  .text_in_img {
    display: none;
  }
  .home_list_redirect {
    margin: 1px 0;
  }
  .home_list_item:has(.container_img:hover) .container_img img {
    transform: scale(1);
  }
  .home_list_image:has(.both_hover:hover) .container_img img {
    transform: scale(1);
  }
}
